<%= stylesheet_link_tag "playlist" %>

<% track_box_top = 0 %>
<% song_idx = 0 %>
<% @songs.each do |song| %>
	<% if session[:current_track] == song_idx %>
		<%= "<div class=\"track_box_active\" style=\"top:#{track_box_top}px;\" onclick=\"set_current_track(#{song_idx})\">" %>
	<% else %>
		<%= "<div class=\"track_box\" style=\"top:#{track_box_top}px;\" onclick=\"set_current_track(#{song_idx})\">" %>
	<% end %>
		<div class="track_image">
			<img src="/images/albumart.jpg">
		</div>
		<div class="track_text_box"	>
			<strong><%= "#{song.title}" %> - <%= "#{song.artist}" %> - <%= "#{song.album}" %></strong><br>
			Submitter Name
		</div>
	</div>
<% track_box_top += 50 %>
<% song_idx += 1 %>
<% end %>